@charset "utf-8";
/* CSS Document */

body {
	background-color: #CCC;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}

/** главный конейнер окна */
body #container {
	width: 80%;
	border: 1px solid #CCC;
	margin: 0 auto;
	background-color: #FFF;  /* #f5f5f5; */
}

/** содержит верхнюю полосу, блок с логотипом и меню */
#header {
	width: 100%;
	background-color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #333;
}

/** самая верхняя линия */
#header #upperLine {
	width: 100%;
	height: 20px;
	background-image: url(../images/upper_line.jpg);
	background-repeat: repeat-x;
}

/** Представляет содержимое блока шапки */
#header #headerContent {
	width: 100%;
	height: 192px;
}

/** логотип */
#headerContent #logo {
	width: 316px;
	float: left;
}

/** вступительные слова о портале */
#headerContent #introduction {
	width: 50%;
	padding-top: 15px;
	float: left;
}

#introduction h3 {
	color: #900;
	text-decoration: underline;
}

/** Блок в шапке страницы для отображения иформации о пользователе / логина */
#headerContent #user_params_block {
	margin: 35px auto;
	width: auto;
	padding: 5px 5px;
	float: right;
}


/** полоса меню */
#header #menu {
	width: 100%;
	height: 34px;
	background-image: url(../images/menu_line.jpg);
	background-repeat: repeat-x repeat-y;
	float: left;
}

/** блок для одного item меню */
#menu #menu_block {
	height: 24px;
	border-right: 1px solid #333;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	text-align: center;
}

/** настройка гиперлинков для меню */
#menu_block a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

/** блок поиска */
#menu #search_block {
	float: right;
}


/** оформление для контролла поиска */
.search_field {
	border: 3px solid #039;
	margin-top: 5px;
}

/** Содержимое страницы */
#container #content {
	width: 100%;
	margin: 15px auto;
	background-color: #EEE;
}

/** Левый блок с рекламой и пр. ф. */
#content #left {
	width: 23%;
	float: left;
	background-color: #EEE;
	margin-top: 15px;
	padding-top: 5px;
	padding-left: 20px;
}

#left h4 {
	margin: 5px 0;
	padding: 0 0;
}

#left h5 {
	margin: 5px 0;
	padding: 0 0;
}

/** Динамический блок контента */
#content #center {
	width: 73%;
	float: right;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
        border-bottom: 1px solid #999;
	margin-top: 15px;
	padding-top: 5px;
	padding-left: 15px;
	background-color: #FFF;
}


/** Подвал сайта */
#container #footer {
	width: 99%;
	background-image: url(../images/bottom_line.jpg);
	background-repeat: repeat-x;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: #FFF;
}

/** Ссылки в подвале сайта */
#footer #footer_links {
	width: 60%;
	float: left;
}

#footer_links a {
	text-decoration: none;
	font-size: 12px;
	color: #FFF;
}

#footer_links a:hover {
	text-decoration: underline;
}

/** Копирайты для подвала */
#footer #footer_copyrights {
	width: 25%;
	float: right;
	text-transform:capitalize;
}

#footer_copyrights a {
	text-decoration: none;
	font-size: 12px;
	color: #FFF;
}

#footer_copyrights a:hover {
	text-decoration: underline;
}

/** Изображение аватарки */
.img_catalog_logo {
	width: 50px;
	height: 50px;
}

/** список специализаций */
.ul_catalog_list_specs {
	margin: 3px 0;
	padding: 0 5px;
	list-style: circle;
}

/** Отступ для разделения специализаций */
.ul_catalog_list_specs li {
	margin-top: 7px;
}

/** список элементов специализаций ( фрилансеров ) */
.ul_catalog_list_items {
	margin: 5px 0;
	padding: 0 0;
	list-style: none;
}

/** шрифт для отображение ФИО фрилансера в каталоге */
.ul_catalog_list_items_table_nick {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	color: #090;
}


/** шрифт для отображения специализации фрилансера в каталоге */
.ul_catalog_list_items_table_spec {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	color: #333;
	font-weight: bold;
}

#clear {
	clear: both;
}

.text_bold {
	font-weight: bold;
}