/* 
    Document   : project_form
    Created on : Jun 28, 2012, 1:56:09 PM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

.table_form_new_project {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.form_tfoot {
    padding-top: 20px;
}