/* 
    Document   : registration
    Created on : Jun 26, 2012, 9:20:53 PM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

h2 {
    color: #000;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 0;
}

.reg_info {
    color: #666;
}

ul.radio_list {
    text-align: left;
    margin: 0 0;
    padding: 0 0;
}

ul.radio_list li {
    text-align: left;
    display: inline;
    list-style: none;
    margin-right: 10px;
    padding: 0 0;
}

#btn_submit {
    margin-bottom: 15px;
}

.label {
    font-family: sans-serif;
    color: #999;
    font-size: 10px;
    padding-bottom: 10px;
}